@charset "utf-8";

/* 반응형 root size */
html{font-size: 62.5%} /* 10px */

*{margin: 0; padding: 0; box-sizing: border-box;}

table{border-collapse: collapse; width: 100%;}

ul,ol{list-style: none;}

a{text-decoration: none; color: inherit;} /* inherit 상위요소에 상속받는 속성 */

address{font-style: normal;}

caption,legend{display: none;}

fieldset, input, textarea, select, button {border: 0;}
/* input {outline : none} 하면 검색창 테투리 사라지지만 접근성을 위해 놔두는게 좋음*/